.loader {
  height: calc(100vh - 7rem);
  pointer-events: none;
  width: 20vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 20s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 600px) {
  .loader {
    height: calc(100vh - 2rem);
  }
}
