.error-page {
  align-items: center;
  display: flex;
  font-size: 3rem;
  height: calc(100vh - 7rem);
}

@media only screen and (min-width: 600px) {
  .error-page {
    height: calc(100vh - 2rem);
  }
}
